@{
    ViewData["Title"] = "Conta Bloqueada";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Sua conta está bloqueada. Espere alguns minutos e tente novamente.</p>
</header>
